.statusTable{
    border: 1px solid grey;
    box-shadow: 3px 3px grey;
}

.statusTable td{
    border: 1px solid grey;
}

.twoGrids{
    display: flex;
    flex-direction: column;
}

.playersGrid{
    border: 1px solid grey;
    border-collapse: collapse;
    box-shadow: 3px 3px grey;
    
    margin: 10px;
    
    font-size: 10px;
    font-weight: bold;
}

.playersGrid td{
    border: 1px solid grey;
    width: 25px;
    height: 25px;
    text-align: center;
}

.playersGrid p{
    padding: 0px;
    margin: 0px;
}


.bold{
    font-weight: bold;
}

.bcg{
    background-color: lightgray;
}

.ship{
    background-color: blue;
}